.wrapper {
    background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1612645510_58-p-zelenii-fon-zelen-73.jpg");
}

.btn2 {
    color: #05e8ba;
    font-size: 33px;
}

.btr {
    border-top-right-radius: 5px !important;
}


.btl {
    border-top-left-radius: 5px !important;
}

.btn-dark {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.login {
    color: #fff;
}

.signUp {
    color: #FFFFFF;
}


.nav-pills .nav-link {
    border-radius: 0;
    border-bottom: 1px solid #0d6efd40;

}

.nav-item {
    display: table-cell;
    background: #0d6efd2e;
    height: 40px;
}

.nav-item:first-child {
    background: #0d6efd2e;
    color: #FFFFFF;
}

.nav-item:last-child {
    background: #0d6efd;
}


.form {
    padding: 10px;
    height: 300px;
}

.form input {

    margin-bottom: 12px;
    border-radius: 3px;
}


.form input:focus {

    box-shadow: none;
}


.form button {
    margin-top: 20px;
}