.wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    border: none;
}

.card {
    width: 400px;
    border: none;
}

.btl {
    border-top-left-radius: 5px !important;
}

.btn-dark {
    color: #fff;
    background-color: lightgreen;
    border-color: #0d6efd;
}


.btn-dark:hover {
    color: #fff;
    background-color: lightgreen;
    border-color: #0d6efd;
}


.nav-pills {
    display: table !important;
    width: 100%;
}

.nav-pills .nav-link {
    border-radius: 0;
    border-bottom: 1px solid #0d6efd40;

}



.secondItem {
    background: #0d6efd !important;
}

.signUp {
    background: #0d6efd2e !important;
}

.login {
    margin-top: 8px;
}


.form {
    padding: 10px;
    height: 300px;
}

.form input {
    margin-bottom: 12px;
    border-radius: 3px;
}


.form input:focus {
    box-shadow: none;
}


.form button {
    margin-top: 20px;
}