* {
    box-sizing: border-box;
}
.wrapper {
    padding: 1em .5em;
}
.content__wrapper {
    border: 2px solid lightgray;
    margin-bottom: 1em;
    padding: 10px;
    border-radius: 5px;
}

@media (min-width: 1200px) {
    .content__wrapper {
        padding: 30px 20px;
    }
}